<head>
  <link rel="stylesheet" href="styles.css">
</head>

Enter Player Name<%= "s" if @players == "2 Players"%>:</br></br>

<form action="/enter_name" method="post">
  <label for="player_1_name">
    <input type="text" name="player_1_name" required>
  </label>
  <% if @players == "2 Players" %>
    </br></br>
    <label for="player_2_name">
      <input type="text" name="player_2_name" required>
    </label>
    <% else %>
      <input type="hidden" name="player_2_name" value="COMPUTER">
  <% end %>
</br></br>
  <button type="submit" value="Submit">Submit</button>
</form>
